<form class="normal-form" [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="title" matInput placeholder="Title">
                    <mat-error>The field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="pages" matInput type="number" placeholder="Pages">
                    <mat-error *ngIf="form.controls['pages'].errors?.required">The field is mandatory</mat-error>
                    <mat-error *ngIf="form.controls['pages'].errors?.min">Less than fifty pages are not admited</mat-error>
                    <mat-error *ngIf="form.controls['pages'].errors?.max">More than 9999 pages are not admited</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="isbn" matInput placeholder="ISBN">
                    <mat-error>The field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Amount</mat-label>
                    <input formControlName="price" matInput type="number" class="example-right-align">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                    <mat-error>The field is mandatory</mat-error>
                  </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="">
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="editorial" matInput placeholder="Editorial">
                    <mat-error>The field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="releaseDate" matInput [matDatepicker]="datepicker" placeholder="Release Date">
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Authors</mat-label>
                    <mat-select [formControl]="authors" multiple>
                      <mat-option *ngFor="let authors of authorsList" [value]="authors">{{authors}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select [formControl]="categories" multiple>
                      <mat-option *ngFor="let categories of categoriesList" [value]="categories">{{categories}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="button-row">
                    <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
                    <button mat-stroked-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
