form.normal-form{
    margin: 10px;
    background: rgb(223, 223, 223);
}

.controles-container{
    display: in;
    width: 100%;
    padding: 5%;
  }

.example-right-align {
    text-align: right;
  }

mat-grid-tile {
    background: rgb(223, 223, 223);
  }
mat-form-field {
    display: block;
}

.button-row {
  height: 5px;
  margin: 5px;
}