<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active" *ngFor="let item of [0, 1, 3, 4]">
            <th scope="row">Active</th>
            <td class="bnt-group d-none d-sm-block" role= "group">
              <button types="button" class="btn btn-outline-warning m-1" (click)="onGoToEdit(item)">Edit</button>
              <button types="button" class="btn btn-outline-danger m-1" (click)="onGoToDelete(item)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>