
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<ng-template #contentAdd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Author</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" >
        <label>Name</label>
        <input methotype="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': form.controls.name.errors }" />
        <label>First Name</label>
        <input methotype="text" formControlName="firstName"  class="form-control" [ngClass]="{ 'is-invalid': form.controls.firstName.errors }" />
        <label>Second Name</label>
        <input methotype="text" formControlName="secondName"  class="form-control" [ngClass]="{ 'is-invalid': form.controls.secondName.errors }" />
        <label>Birthday</label>
        <input type="date"  formControlName="birthday" placeholder="yyyy-mm-dd"  class="form-control" [ngClass]="{ 'is-invalid': form.controls.birthday.errors }"/>


        <div *ngIf="form.controls.name.errors" class="invalid-feedback">
          <div *ngIf="form.controls.name.errors.required">name is required</div>
        </div>
        <div *ngIf="form.controls.firstName.errors" class="invalid-feedback">
          <div *ngIf="form.controls.firstName.errors.required">firstName is required</div>
        </div>
        <div *ngIf="form.controls.secondName.errors" class="invalid-feedback">
          <div *ngIf="form.controls.secondName.errors.required">secondName is required</div>
        </div>
        <div *ngIf="form.controls.birthday.errors" class="invalid-feedback">
          <div *ngIf="form.controls.birthday.errors.required">Date is required</div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(postAuthor())">Save</button>
  </div>
</ng-template>

<br>
<div style="float: right">
  <div  id="modal_footer">
    <button type="button" id="btnAdd" (click)="openPost(contentAdd)"
            class="btn btn-primary btn-lg"><i class="fa fa-check-square-o"></i> Add Book</button>
  </div>
</div>
<br><br><br>

<ng-template #contentUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-update">Update Author</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form [formGroup]="form" >
      <div class="form-group">

          <label>Name</label>
          <input methotype="text" formControlName="name"  [ngModel]="author?.name" value="{{author?.name}}" class="form-control" [ngClass]="{ 'is-invalid': form.controls.name.errors }" />
          <label>First Name</label>
          <input methotype="text" formControlName="firstName"  [ngModel]="author?.firstName" value="{{author?.firstName}}" class="form-control" [ngClass]="{ 'is-invalid': form.controls.firstName.errors }" />
          <label>Second Name</label>
          <input methotype="text" formControlName="secondName"  [ngModel]="author?.secondName" value="{{author?.secondName}}" class="form-control" [ngClass]="{ 'is-invalid': form.controls.secondName.errors }" />
          <label>Birthday</label>
          <input type="date" class="form-control"  placeholder="author?.birthday" [ngModel]="author?.birthday| date:'yyyy-MM-dd'" value="{{author?.birthday}}"  formControlName="birthday" [ngClass]="{ 'is-invalid': form.controls.birthday.errors }" />

          <div *ngIf="form.controls.name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.name.errors.required">name is required</div>
          </div>
          <div *ngIf="form.controls.firstName.errors" class="invalid-feedback">
            <div *ngIf="form.controls.firstName.errors.required">firstName is required</div>
          </div>
          <div *ngIf="form.controls.secondName.errors" class="invalid-feedback">
            <div *ngIf="form.controls.secondName.errors.required">secondName is required</div>
          </div>
        <div *ngIf="form.controls.birthday.errors" class="invalid-feedback">
          <div *ngIf="form.controls.birthday.errors.required">Date is required</div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(putAuthor(author.id))">Save</button>
  </div>
</ng-template>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">FIRST NAME</th>
    <th scope="col">SECOND NAME</th>
    <th scope="col">BIRTHDAY</th>
    <th scope="col">OPTIONS</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of authors | paginate: {itemsPerPage:3, currentPage:pageActual}  ">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.firstName}}</td>
    <td>{{item.secondName}}</td>
    <td>{{item.birthday}}</td>

    <td>
      <button class="btn" (click)="openUpdate(contentUpdate, item.id)" data-toggle="tooltip" title="Update"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg><i class="fa fa-update"></i></button>

      <button class="btn"><i class="fa fa-trash" (click)="deleteAuthor(item.id)" data-toggle="tooltip" title="Delete"></i></button>
    </td>

  </tr>
  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>


  </tbody>
</table>

