<div class="modal-header">
  <h4 class="modal-title">
    <b>{{ title }}</b>
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label
        >Titulo
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        name="title"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <label
        >Páginas
      </label>
      <input
        type="number"
        class="form-control"
        name="pages"
        formControlName="pages"
      />
    </div>
    <div class="form-group">
      <label
        >isbn
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        name="isbn"
        formControlName="isbn"
        maxlength="13"
      />
    </div>

    <div class="form-group">
      <label
        >Precio
        <span class="text-danger">*</span>
      </label>
      <input
        type="number"
        class="form-control"
        name="price"
        formControlName="price"
        maxlength="13"
      />
    </div>

    <div class="form-group">
      <label
        >Resumen
        <span class="text-danger">*</span>
      </label>
      <textarea
        type="text"
        class="form-control"
        name="summary"
        formControlName="summary"
        maxlength="13"
      >
      </textarea>
    </div>
    <div class="form-group">
      <label
        >Editorial
        <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        name="editorial"
        formControlName="editorial"
        maxlength="13"
      />
    </div>
    <div class="form-group">
      <label
        >Fecha de publicacion
        <span class="text-danger">*</span>
      </label>
      <input
        type="date"
        class="form-control"
        name="datePublication"
        formControlName="datePublication"
      />
    </div>
    <div class="form-group">
      <label
        >Categorias
        <span class="text-danger">*</span>
      </label>
      <ng-multiselect-dropdown
      name="categories"
      [placeholder]="'custom placeholder'"
      [settings]="dropdownSettings"
      [data]="categories"
      formControlName="categories"
      (onSelect)="onSelectCategories()"
      (onSelectAll)="onSelectAllCategories($event)"
    >
    <ng-template
            #optionsTemplate
            let-item
            let-option="authors"
            let-id="id"
            let-isSelected="isSelected"
          >
    </ng-template>
    </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label
        >Autores
        <span class="text-danger">*</span>
      </label>
      <ng-multiselect-dropdown
      name="authors"
      [placeholder]="'custom placeholder'"
      [settings]="dropdownSettings"
      [data]="authors"
      formControlName="authors"
      (onSelect)="onSelect()"
      (onSelectAll)="onSelectAll($event)"
    >
    <ng-template
            #optionsTemplate
            let-item
            let-option="authors"
            let-id="id"
            let-isSelected="isSelected"
          >
    </ng-template>
    </ng-multiselect-dropdown>
    </div>
    
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-default"
    (click)="bsModalRef.hide()"
  >
    <b>Cancelar</b>
  </button>
  <button
  type="button"
  class="btn btn-success"
  (click)="save()"
><b>Guardar</b></button>
</div>