<p>BOOK CRUD</p>
<br>
<p>Create a book regist</p>
<form>
    Title
    <input type="text">
    Pages
    <input type="text">
    ISBN
    <input type="text">
    Price
    <input type="text">
    Summary
    <input type="text">
    Editorial
    <input type="text">
    Release Date
    <input type="text">
    Categories
    <input type="text">
    Authors
    <input type="text">
    <br>
    <input type="button" value="Send">
</form>
<br><br>
<p>All regist</p>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>TITLE</th>
                <th>PAGES</th>
                <th>ISBN</th>
                <th>PRICE</th>
                <th>SUMMARY</th>
                <th>EDITORIAL</th>
                <th>RESELASE DATE</th>
                <th>CATEGORIES</th>
                <th>AUTHORS</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tbody>
    </table>
</div>
