<div class="card border-primary mb-3">
  <div class="card-header">Categorias</div>
  <div class="card-body text-primary">
      <h5 class="card-title">Catalogo de categorias</h5>

      <div class="my-2 text-left">
          <button class="btn btn-rounded btn-primary" type="button" (click)="openCreateModal()" >crear
             categoria</button>
      </div>

      <div *ngIf="categories?.length == 0" class="alert alert-info">
          No hay registros en la base de datos
      </div>

      <table class="table table-striped" *ngIf="categories?.length > 0">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>NOMBRE</th>
                  <th>EDITAR</th>
                  <th>ELIMINAR</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let category of categories">
                  <td>{{ category.id }}</td>
                  <td>{{ category.name }}</td>
                  <td><button type="button" name="editar"
                    class="btn btn-primary">editar</button>
            <td><button type="button" name="eliminar"
                    class="btn btn-danger" (click)="deleteCategory(category.id)">eliminar</button>
            </td>              
              </tr>
          </tbody>
      </table>
  </div>
</div>
  
  